#teacher-page {
    margin: auto;
    padding: 10px;
   
}

#teacher-page .header{
    border: solid black 2px;
    display: flex;
    justify-content: space-between;
}

#teacher-page .header > div{
    margin: 5px 20px;
    font-weight: 600;
}

#teacher-table{
    background-color: blueviolet;  
    border: solid red 2px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

#teacher-table th{
    background-color: rgb(39, 39, 39);
    color: white
}

#teacher-table td{
    background-color: white;
}




.name-col, .school-id-col  {
    width: 100px;
}


#teacher-table-assignment{
    /* border: solid red 2px; */
    width: 200px;
    padding: 5px;
}


#teacher-table-assignment .slider-box{
    border: solid red 2px;
    height: 70px;
}

#teacher-table-assignment .slider-box > div > div{
    /* border: solid red 2px; */
    height: 30px;
}

#teacher-table-assignment .slider-box .label{
    /* border: solid red 2px; */
    width: 50px;
    padding-right: 5px;
    text-align: right;
}

#teacher-table-assignment .slider-box .teacher-slider{
    /* border: solid red 2px; */
    margin-top: -2px;
    margin-left: -20px;

}